<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" >

<head th:replace="~{fragments/layout :: common_head(~{::title}, ~{::link})}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Pet 목록</title>
    <link rel="stylesheet" th:href="@{/resources/library/gridjs/theme/mermaid.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/list.css}">
</head>
<body th:replace="~{fragments/layout :: layout(~{::body}, 'pets')}">
<div class="container">
    <div class="register_link">
        <a href="/register" th:href="@{/register}">등록</a>
    </div>
    <div id="div_table">
    </div>
    <div id="div_delete_form">
        <form method = "post">

        </form>
    </div>
</div>

<script th:inline="javascript">
    const CONTEXT_PATH = [[${#request.getContextPath() ?: '/'}]];
</script>
<script th:src="@{/resources/library/axios/axios.min.js}"></script>
<script th:src="@{/resources/library/gridjs/gridjs.umd.js}"></script>
<script th:src="@{/resources/js/list-grid.js}"></script>
</body>

</html>