<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" >

<head th:replace="~{fragments/layout :: common_head(~{::title}, ~{})}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Pet 목록</title>
</head>
<body th:replace="~{fragments/layout :: layout(~{::body}, 'pets')}">
    <div class="container">
        <div>
            <a href="/register" th:href="@{/register}">등록</a>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>소유주</th>
                    <th>종</th>
                    <th>성별</th>
                    <th>생일</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script th:inline="javascript">
        const CONTEXT_PATH = [[${#request.getContextPath()}]];
    </script>
    <script th:src="@{/resources/library/axios/axios.min.js}"></script>
    <script th:src="@{/resources/js/pet.js}"></script>
</body>

</html>