<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: common_head(~{::title}, ~{::link})}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Pet 등록</title>
    <link rel="stylesheet" th:href="@{/resources/library/flatpickr/flatpickr.min.css}">
</head>
<body th:replace="~{fragments/layout :: layout(~{::body}, 'pets')}">
    <div class="container">
        <form method="post" th:object="${pet}">
            <div>
                <label for="name">이름</label>
                <input type="text" id="name" maxlength="10" th:field="*{name}" th:errorclass="field_error">
            </div>
            <div th:if="${#fields.hasErrors('name')}">
                <th:block th:errors="*{name}" />
            </div>
            <div>
                <label for="owner">소유주</label>
                <input type="text" id="owner" maxlength="20" th:field="*{owner}" th:errorclass="field_error">
            </div>
            <div th:if="${#fields.hasErrors('owner')}">
                <th:block th:errors="*{owner}" />
            </div>
            <div>
                <label for="species">종</label>
                <input type="text" id="species" maxlength="30" th:field="*{species}" th:errorclass="field_error">
            </div>
            <div th:if="${#fields.hasErrors('species')}">
                <th:block th:errors="*{species}" />
            </div>
            <div>
                <span th:class="${#fields.hasErrors('sex')}? field_error">
                <input type="radio" id="sex_m" value="M" th:field="*{sex}">
                <label for="sex_m">수컷</label>
                <input type="radio" id="sex_f" value="F" th:field="*{sex}">
                <label for="sex_f">암컷</label>
                </span>
            </div>
            <div th:if="${#fields.hasErrors('sex')}">
                <th:block th:errors="*{sex}" />
            </div>
            <div>
                <label for="birth">생일</label>
                <input type="text" id="birth" th:field="*{birth}" th:errorclass="field_error">
            </div>
            <div>
                <button type="submit">등록</button>
            </div>
        </form>
    </div>

    <script th:src="@{/resources/library/flatpickr/flatpickr.min.js}"></script>
    <script th:src="@{/resources/js/register.js}"></script>
</body>

</html>