body {
    margin: 0;
}

header {
    background-color: #333333;
}

header nav {
    width : 90%;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    overflow       : hidden;
    margin         : 0;
    padding        : 0;
}

header nav li {
    float: left;
}

header nav li.active {
    text-decoration: underline 2px;
}

header nav li a {
    display        : block;
    color          : white;
    padding        : 16px;
    text-align     : center;
    text-decoration: none;
}

header nav li a:hover {
    background-color: #111111;
}

main div.container {
    width  : 87%;
    margin : 0 auto 80px;
    padding: 10px;
}

main div.register_link {
    margin: 0 0 1vw 1vw;
}

main #div_table {
    width: 90%;
}

main form * {
    margin: 4px 0;
}

main form input[type=text], main form fieldset {
    width: 120px;
}

main form button[type="submit"] {
    margin: 8px 0;
}

main form div.error_block {
    margin-left: 12px;
}
main form div.error_block::before {
     content: " - ";
 }

main form .field_error {
    outline: solid red;
}