<!doctype html>
<html lang="ko"  xmlns:th="https://www.thymeleaf.org">

<head th:fragment="common_head(head_title, links)">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">-->

    <title th:replace="${head_title}">spring-webmvc-example</title>

    <link rel="stylesheet" th:href="@{/resources/css/layout.css}">
    <th:block th:replace="${links}"/>

</head>

<body th:fragment="layout(template, menu)">
<header>
    <nav aria-label="Navigation">
        <ul th:remove="all">
            <li th:fragment="menuItem(link, active, title)" class="active"
                th:class="${active== menu ? 'active' : ''}">
                <a th:href="@{__${link}__}" th:title="${title}">
                    <span th:text="${title}">span title</span>
                </a>
            </li>
        </ul>

        <ul>
            <li th:replace="::menuItem('/', 'home', 'Home')">
                <a href="/">
                    <span>Home</span>
                </a>
            </li>

            <li th:replace="::menuItem('/list', 'list', 'Pet')">
                <a href="/pet">
                    <span>Pet</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <th:block th:include="${template}" />
</main>
</body>

</html>